# EditorConfig is awesome: https://editorConfig.org

# Don't look for another .editorconfig file in parent directories
root = true

# Defaults to tab-indented
[*]
charset = utf-8
end_of_line = lf
indent_size = tab
indent_style = tab
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

# 2 space indentation for all json and y(a)ml files
[*.{json,yml,yaml}]
indent_size = 2
indent_style = space

# Don't trim trailing whitespace for Markdown files.
# (Remember, trailing spaces in markdown are used to differentiate line breaks and paragraphs)
[*.md]
trim_trailing_whitespace = false
